.cabecera {
  display: flex;
  justify-content: space-between;
}

.headpedido {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 8px;
}
.numorden {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.imgnom {
  flex-direction: row;
  display: flex;
  padding: 0px;
  align-items: center;
}
.imgnom h1,
h2 {
  margin-left: 8px;
}

.pedido {
  align-items: center;
  flex-direction: row;
  padding: 8px;
  padding-top: 24px;
}

.imagen {
  height: 100px;
  width: 100px;
  align-items: center;
  display: flex;
}
.imagen img {
  border-radius: 50%;
}

.precioycant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.total {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.boton {
  display: flex;
  align-content: baseline;
  justify-content: center;
  padding: 16px;
  padding-top: 32px;
}
